<div class="charts-comp">
    <div style="display: block" *ngFor="let chart of charts">
        <canvas baseChart
                [datasets]="chart.barChartData"
                [labels]="chart.barChartLabels"
                [options]="chart.barChartOptions"
                [legend]="chart.barChartLegend"
                [chartType]="chart.barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
    </div>
    <button class="charts-comp__btn"></button>
</div>
